/* 設定基本字體和頁面背景顏色 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: auto;
}
/* 基本按鈕 */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #f9f9f9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* ===========================最上層header============================ */
header {
    position: fixed;
    color: #f4f4f4;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 998;
    /* z-index: 999; 確保層級在其他元素之上  */
}
header h1 {
    margin: 20px;
    font-size: 2em;
    text-align: left;
}
/* 設定右上角超連結樣式 */
.top-container {
    position: fixed; 
    top: 0;               
    left: 0;              
    width: 100%;          
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f4f4f4;

    z-index: 999; /* 確保層級在其他元素之上*/ 
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
nav ul li form {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}
/* ======================TOP層(球動畫 簡介)====================================== */
.top{
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    align-items: center;
    justify-content: center;
    height: auto;
    
}
/* 球動畫===================== */
.wrapper {
    display: flex;
    flex-direction: column; /* 讓兩個區塊上下排列；若要左右並排，可改 row */
    align-items: center;
    gap: 10px;             /* 兩條分佈之間的距離 */
    margin-top: 300px;
    margin-bottom: 50px;
  }
.basic-staggering-demo {
    display: flex;
    justify-content: center;
    gap: 10px;         /* 每個球之間的水平間距 */
}
.el {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;   /* 置中文字 */
    justify-content: center;  
    font-weight: bold;
}
#replayBtn{
    background-color: #f9f9f9;
    color: #1f1f1f;
    font-weight: bold;
}
/* 簡介===================== */
#about {
    background-color: #1f1f1f;
    color: #f4f4f4;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    border-radius: 20px;
    margin-bottom: 50px;

    scroll-margin-top: 80px;/* 根據 header 的高度調整 */
}
.about_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
#about h2{
    font-size: 2em;
 
}
#about p{
    font-size: 1.5em;
    line-height: 1.6;
    
}
#about a img{
    border-radius: 20px;
}
/* ======================作品區====================================== */
.middle{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#products {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;

    scroll-margin-top: 80px;/* 根據 header 的高度調整 */
}
.products-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    font-size: 1.5em;
}
#moreBtn{
    background-color: #1f1f1f;
    color: #f9f9f9;
    font-weight: bold;
}
#backBtn{
    background-color: #1f1f1f;
    color: #f9f9f9;
    font-weight: bold;
}
/* 圖片區======================*/
#services {
    background-color: #f4f4f4;
}
.gallery-container {
    display: flex;             /* 讓子元素並排 */
    flex-wrap: wrap;           /* 超出範圍時換行 */
    gap: 10px;                 /* 元素間的間距 */
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
}
/* 個別照片項目 */
.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
/* 圖片設定 */
.gallery-item img {
    max-width: 400px;    /* 設定圖片最大寬度 */
    height: auto;
    display: block; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.05);
  }
  
.discript{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.discript h3{
    font-size: 1.5em;
}
.discript p{
    font-size: 1.2em;
}

/* ==================== 聯絡 ================================ */
#contact {
    background-color: #1f1f1f;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
}
#contact ul {
    list-style-type: none;
    padding: 0;
    text-align: start;
    display: flex;
    justify-content: center;
}
/* 設定聯絡方式的超連結樣式 */
#contact a {
    color: #f9f9f9;
    text-decoration: none;
}
#contact a:hover {
    text-decoration: underline;
}
/* 聯絡資訊====================*/
table{
    margin: 0 auto;
}
/* 頁尾樣式====================*/
.foot {
    background-color: #1f1f1f;
    color: #f9f9f9;
    text-align: center;
    padding: 10px ;
    
    bottom: 0;
    width: 100%;
}
/* =======================進度條動畫 選轉=================================== */
.logo .circle .arrow {
    position: fixed;
    width: 4%;
    height: 4%;
    top: 3%;
    left: 50%;
    /* 關鍵：水平居中 → 往左移自身寬度的一半 */
    transform: translateX(-50%) rotate(0deg);

    background-image: url('./camera-reels.svg'); 
    filter: invert(100%); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: transform 0.1s linear;  /* 平滑旋轉 */
}
/* ==========================進度條動畫================================ */
.global-main {
    flex: 1 0 auto;
    width: 100%;
    /* margin-top: 100px;  */
}
  
.post-progress,
.post-progress[value]::-webkit-progress-bar {
    background-color: transparent;
}
.post-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    transition: opacity .15s ease-out .3s;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* 層級 */
    z-index: 999;
}
progress {
    vertical-align: baseline;
}
.post-progress::-webkit-progress-value {
    background-color: #868686;
}
.post-progress::-moz-progress-bar {
    background-color: #f9f9f9;
}
/* =================================================================== */
  
